header{
   background-image: url(../images/aurora.jpg);
   background-size: cover;
   background-position: center;
   
}

section{

    background-color: darkslateblue;
    font-family: "Urbanist", sans-serif;
}

h2, h3{
  font-family: "Bebas Neue", sans-serif;
}

footer{
  background-color:darkslategray;



}