header, #about{
    background-color: rgb(0, 184, 122);
}

footer{background-color: rgb(21, 29, 29);
    background-image: url(../bsImages/backgrounds/scallopWhite.png);
    background-repeat: repeat-x;
}


#about{
    background-image: url(../bsImages/backgrounds/Abstract-blue_0.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}

body{
background-image: url(../bsImages/backgrounds/mountains.jpg);
background-size: cover;


}
